.itemsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4vh;
}
.content {
    width: 70%;
}

.SingleItemContainer {
    display: flex;
    transition: transform 0.5s ease-out;
}

.trashIconContainer {
    background-color: #d72e2e;
    color: whitesmoke;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 100;
}

.trash.icon {
    margin: auto;
    height: auto;
    width: auto;
}

.itemName {
    position: absolute !important;
    z-index: 200;
    background-color: white;
    max-height: 100%;
}
